# Add files here to ignore them from prettier formatting
/dist
/coverage
/.nx/cache
/.nx/workspace-data
/.husky
.prettierignore
*.woff
*.woff2
*.env
*.ejs
Dockerfile
schema.gql
.eslintignore
.funcignore
Dockerfile.*
.editorconfig
.gitignore
.gitkeep
.sequelizerc
*.Dockerfile